.bsod_container {
	background-color: #0000AA;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1000;
	cursor: none;
}
.bsod_textcont {
	color: white;
	width: 90%;
	max-width: 1100px;;
	margin-left: auto;
	margin-right: auto;
	font-family: courier;
	font-weight: bold;
	font-size: 20pt;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.bsod_title {
	color: #0000AA;
	background-color: lightgray;
	display: table;
	margin-left: auto;
	margin-right: auto;
	padding-left: 5px;
	padding-right: 5px;
}
.bsod_press {
	text-align: center;
	padding-top: 5px;
}