/* Taskbar */
#win_taskbar {
	position: fixed;
	width: 100%;
	height: 24px;
	bottom: 0px;
	background-color: #C0C0C0;
	border: 1px white outset;
	z-index: 10000; /* required for taskbar to stay on top */
}
#win_start_button {
	width: 50px;
	height: 18px;
	background-color: #C0C0C0;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-bottom: 2px ridge black;
	border-right: 2px ridge black;
	position: relative;
	top: 1px;
	left: 2px;
	font-family: "Microsoft Sans Serif";
	font-weight: bold;
	font-size: 8pt;
}
.win_start_button_depressed {
	border-top: 2px groove black !important;
	border-left: 2px groove black !important;
	border-bottom: 2px groove white !important;
	border-right: 2px groove white !important;
}
#win_start_icon {
	position: relative;
	top: 1px;
	left: 2px;
}
#win_start_text {
	position: relative;
	top: -3px;
	left: 1px;
	cursor: default;
}
/* Taskbar Buttons */

#win_tb_placeholder {
	position: relative;
	left: 60px;
	bottom: 21px;
	height: 24px;
}
.win_tb_button {
	width: 160px;
	height: 18px;
	margin-right: 3px;
	/*position: absolute;*/
	position: relative;
	display: inline-block;
	top: 1px;
	font-family: "Microsoft Sans Serif";
	font-size: 8pt;
}
.win_tb_button_active {
	background-image: url("images/checkerboard.png");
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	border-top: 2px groove black;
	border-left: 2px groove black;
	font-weight: bold;
}
.win_tb_button_inactive,
.win_tb_button_start {
	background-color: #C0C0C0 !important;
	background-image: none !important;
	border-top: 1px solid white !important;
	border-left: 1px solid white !important;
	border-bottom: 2px ridge black !important;
	border-right: 2px ridge black !important;
	font-weight: normal !important;
}
/*#win_tb_win_1 {
	left: 60px;
}
#win_tb_win_2 {
	left: 225px;
}*/
.win_tb_icon,
.win_tb_icon_noicon {
	position: relative;
	top: 1px;
	left: 2px;
	height: 16px;
}
.win_tb_icon {
	width: 16px;
}
.win_tb_icon > img {
	width: 16px;
	height: 16px;
}
.win_tb_icon_noicon > img {
	height: 16px;
}
.win_tb_text,
.win_tb_text_noicon {
	position: absolute;
	cursor: default;
	top: 3px;
}
.win_tb_text {
	left: 22px;
}
.win_tb_text_noicon {
	left: 3px;
}
/* System Tray */
#win_systray {
	position: absolute;
	right: 2px;
	top: 2px;
	width: 70px;
	height: 18px;
	border: 1px inset white;
	background-color: #C0C0C0;
	text-align: center;
}
#win_clock {
	font-family: "Microsoft Sans Serif";
	font-size: 10pt;
	position: relative;
	top: -2px;
	cursor: default;
}