body, html {
	background-color: #008080;
	margin: 0px;
}
#win_container {
	position: absolute;
	width: 100%;
	/*height: 100%;*/
	top: 0px;
	left: 0px;
	/*background-color: red; */
	z-index: 800;
	overflow: hidden;
}
#win_overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0px;
	overflow: hidden;
	z-index: 1000000;
	background-image: url('images/overlay.png');
	display: none;
}
.win_titlebar,
.win_titb_text,
.win_titb_icon,
#win_wid_run_container,
#win_wid_debug_container,
#win_wid_winver_container,
.win_wid_container,
#win_taskbar,
#win_start,
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.win_underline {
	text-decoration: underline;
}