#window_1 {
	width: 500px;
	height: 500px;
	/*position: absolute;
	left: 220px;
	top: 47px;*/
	background-color: white;
	/*z-index: 901;*/
}
#window_2 {
	width: 500px;
	height: 500px;
	background-color: white;
	/*position: absolute;
	left: 200px;
	top: 25px;*/
	/*z-index: 902;*/
}
.win_window {
	border-image-slice: 4 4 4 4;
	border-image-width: 4px 4px 4px 4px;
	border-image-outset: 4px 4px 4px 4px;
	border-image-repeat: stretch stretch;
	border-image-source: url("images/border.png");
	/*display: none;*/
	position: absolute !important; /* must be important because jQuery UI will set it to rel and bad things will happen */
	left: 8px;
	top: 8px;
	height: 300px;
	width: 300px;
	padding: 0px;
}
.win_window_maximized {
	width: 100% !important;
	height: 100% !important;
	border: 0px;
	left: 0px !important;
	top: 0px !important;
}
.win_window_minimized {
	display: none !important;
}
.win_window_active {
	z-index: 1000;
}
.win_window_inactive {
	z-index: 900;
}
.win_titlebar {
	position: relative;
	width: 100%;
	height: 18px;
}
.win_titb_icon {
	position: relative;
	top: 1px;
	left: 1px;
	width: 16px;
	height: 16px;
}
.win_titb_icon > img {
	width: 16px;
	height: 16px;
}
.win_titb_text {
	position: absolute;
	font-family: "Microsoft Sans Serif";
	font-size: 8pt;
	font-weight: bold;
	left: 20px;
	top: 3px;
	cursor: default;
}
.win_titb_text_noicon {
	left: 3px !important;
}
.win_titb_active {
	color: white;
	background-color: darkblue;
}
.win_titb_inactive,
.win_titb_start {
	color: lightgray !important;
	background-color: gray !important;
}
.win_titb_controls {
	position: absolute;
	top: 0px;
	right: 0px;
}
.win_titb_min {
	position: absolute;
	top: 2px;
	right: 36px;
}
.win_titb_max,
.win_titb_max_dis {
	position: absolute;
	top: 2px;
	right: 20px;
}
.win_titb_close {
	position: absolute;
	top: 2px;
	right: 2px;
}
.win_widget_htmltarget {
	position: absolute;
	width: 100%;
	bottom: 0px;
	left: 0px;
}
.win_window_iframe {
	width: 100%;
	height: calc(100% - 18px);
	border: none;	
}